@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--radius: 0.8rem;

	--accent: 148 26% 57%;
	--light: 0 0% 96%;
	--dark: 216 18% 6%;
	--dark-alt: 219 10% 18%;
	--danger: 360 54% 53%;
	--muted: 219 10% 18%;
}

html {
	font-family: 'Rubik', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
